@model QuintaEvaluacion.Models.User

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-signin w-100 m-auto">

    @using (Html.BeginForm("Create", "Auth"))
    {
        <h1 class="fs-3 mb-4 fw-light text-center">Create your account!</h1>

        @Html.AntiForgeryToken()


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-floating">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control border-top-left-radius border-top-right-radius", placeholder = "First Name", required = true } })
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>

        <div class="form-floating">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name", requirede = true } })
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>

        <div class="form-floating">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "Username", required = true } })
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>

        <div class="form-floating">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", required = true } })
            @Html.LabelFor(model => model.Email, htmlAttributes: new { })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-floating">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control border-bottom-left-radius border-bottom-right-radius", placeholder = "Password", type = "password", required = true, minlength = 6, maxlength=20 } })
            @Html.LabelFor(model => model.Password, htmlAttributes: new { })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

        <input type="submit" value="Create" class="btn btn-outline-primary w-100 mt-3 btn btn-outline-primary" />
    }

</div>